In [23]:
import numpy as np

In [24]:
# Question 1
np.__version__

# ANSWER
# 1.19.5

'1.19.5'

In [25]:
import pandas as pd

In [26]:
# Question 2

pd.__version__

# ANSWER
# 1.3.2

'1.3.2'

In [27]:
df = pd.read_csv('~/local_dev/zoomcamp/1/data.csv')

In [28]:
df.head(1)

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135

In [29]:
# Question 3

# What's the average price of BMW cars in the dataset?
df[
    df.Make == 'BMW'
].MSRP.mean()

# ANSWER
# 61546.76347305389

61546.76347305389

In [30]:
# Question 4

# Select a subset of cars after year 2015 (inclusive, i.e. 2015 and after). How many of them have missing values for Engine HP?

df[
    df.Year >= 2015
]["Engine HP"].isnull().sum()

# ANSWER
# 51

51

In [31]:
# Question 5

"""
* Calculate the average "Engine HP" in the dataset. 
* Use the `fillna` method and to fill the missing values in "Engine HP" with the mean value from the previous step. 
* Now, calcualte the average of "Engine HP" again.
* Has it changed? 
"""
 
# 1
avg_hp_before = df["Engine HP"].mean()
print(f"AVG Engine HP before: {avg_hp_before}")
# 249.38607007176023
# check if there are null values in the `Engine HP` column
df[
    df["Engine HP"].isnull()
]



# 2
df = df.fillna(value={"Engine HP": avg_hp_before})
# df
# check if no null values present in the `df`
df[
    df["Engine HP"].isnull()
]


# 3
avg_hp_after = df["Engine HP"].mean()
print(f"AVG Engine HP after: {avg_hp_after}")
# # 249.38607007176


#  Now the average `Engine HP` value is different from the initial one


mean_hp_before_ROUNDED = round(avg_hp_before)
mean_hp_after_ROUNDED = round(avg_hp_after)
assert mean_hp_before_ROUNDED == mean_hp_after_ROUNDED

# ANSWER
# It hasn't changed

AVG Engine HP before: 249.38607007176023
AVG Engine HP after: 249.38607007176

In [32]:
### Question 6

"""
* Select all the "Rolls-Royce" cars from the dataset.
* Select only columns "Engine HP", "Engine Cylinders", "highway MPG".
* Now drop all duplicated rows using `drop_duplicates` method(you should get a dataframe with 7 rows).
* Get the underlying NumPy array. Let's call it `X`.
* Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
* Invert `XTX`.
* What's the sum of all the elements of the result?

Hint: if the result is negative, re-read the task one more time
"""

# 1
rolls = df[
    df.Make.str.match("Rolls")
]
# 2
rolls = rolls[["Engine HP", "Engine Cylinders", "highway MPG"]]

# 3
rolls = rolls.drop_duplicates()
len(rolls)  # is equal to 7 like required

# 4
X = rolls.to_numpy()
X
# X.shape = (7,3)

# 5
X_transposed = X.T
# X_transposed.shape = (3,7)
XTX = np.dot(X_transposed, X)
# XTX.shape = (3, 3)

# 6
XTX_inv = np.linalg.inv(XTX)
# XTX_inv.shape = (3,3)

# 7
# sum of inverted XTX was negative, took into account the "Hint" and the naming
#  - the sum was supposed to be calculated for the `result` and in pt.5 we were
# supposed to call the result `XTX`
xtx_sum = XTX.sum()
print(xtx_sum)

# ANSWER
# 1970887.0

1970887.0

In [36]:

# Question 7
"""
* Create an array `y` with values `[1000, 1100, 900, 1200, 1000, 850, 1300]`.
* Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
* What's the value of the first element of `w`?.

> **Note**: You just implemented linear regression. We'll talk about it in the next lesson.
"""

# 1

y = np.array([1000, 1100, 900, 1200, 1000, 850, 1300])

# 2
W_mm = np.dot(XTX_inv, X_transposed)
w = np.dot(W_mm,y)
w

# ANSWER
# 0.19989598

array([ 0.19989598, 31.02612262, 31.65378877])